:root {
  --color-asphalt: #8e8f99;
  --color-blue: #4d5ae5;
  --color-cloud: #f4f4fd;
  --color-dark: #2f2f37;
  --color-darkgrey: #2e2f42;
  --color-focus: #31d0aa;
  --color-grey: #434455;
  --color-light: #e7e9fc;
  --color-ocean: #404bbf;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  background-color: var(--color-white);
  height: 100%;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  /* outline: 2px solid #cc142c;
  outline-offset: -2px; */
}

.logo {
  color: var(--color-blue);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.section {
  padding: 96px 0;
}

/* #region header */


.header {
  border-bottom: 1px solid var(--color-light);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.contacts {
  display: none;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: block;
  padding: 16px 0;
}

.logo-black {
  color: var(--color-darkgrey);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-nav-menu {
  display: none;
}

.page-nav .link {
  display: none;
}

.burger-btn {
  color: var(--color-dark);
  border: none;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
/* #endregion header */

/* #region section 1 description */

.main-description {
  background-color: var(--color-darkgrey);
  /* padding: 188px 0; */
  /* min-width: 400px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./../images/background/bg-mob@1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-block: 72px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .main-description {
      background-image: linear-gradient(to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)), url("./../images/background/bg-mob@2x-min.jpg");
      height: 432px;          
  }
}

@media screen and (min-width: 768px) {
  .main-description {
      background-image: linear-gradient(to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)), url("./../images/background/bg-tab@1x-min.jpg");
      height: 436px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-description {
      background-image: linear-gradient(to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)), url("./../images/background/bg-tab@2x-min.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .main-description {
      background-image: linear-gradient(to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)), url("./../images/background/bg-desk@1x-min.jpg");
      height: 600px;    
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-description {
      background-image: linear-gradient(to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)), url("../images/background/bg-desk@2x-min.jpg");
      height: 600px;
  }

}


.page-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  max-width: 216px;
  max-height: 160px;
  line-height: 1.11;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-white);
  margin: 0 auto;
  margin-bottom: 72px;
}

.button {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 48px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--color-ocean);
}

.button:focus {
  background-color: var(--color-ocean);
}
/* #endregion section 1 description */

/* #region section 2 company */

.company-item-icon {
  display: none;
}

.company-item:not(:last-child) {
  margin-bottom: 72px;
}

.company-features .title {
  color: var(--color-darkgrey);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 8px;
}

.company-features .text {
  color: var(--color-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* #endregion section 2 company */

/* #region section 3 team */

.our-team {
  background-color: var(--color-cloud);
}

.our-team .main-title {
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-lis {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 72px;
}

.list-item {
  width: 264px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--color-white);
}

.list-item-cont {
  padding: 32px 0;
}

.our-team .title {
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.our-team .text {
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-blue);
  fill: var(--color-lightgrey);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  padding-top: 8px;
  color: var(--color-cloud);
}

.social-links .social-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--color-ocean);
}
/* #endregion section 3 team */

/* #region section 4 portfolio */

.section-cont {
  padding: 32px 16px;
  border: 1px solid var(--color-light);
  border-top: none;
}

.our-portfolio .main-title {
  color: var(--color-darkgrey);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio .title {
  color: var(--color-darkgrey);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.our-portfolio .text {
  color: var(--color-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.overlay {
  display: none;
}

.our-portfolio-kinds {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
/* #endregion section 4 portfolio */

/* #region FOOTER */

.footer {
  background-color: var(--color-darkgrey);
  padding: 98px 0;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 72px 24px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-white {
  color: var(--color-cloud);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer .text {
  color: var(--color-lightgrey);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  max-width: 288px;
  margin-top: 16px;
}

.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}

.social-links-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-shrink: 0;
}

.social-item-footer {
  width: 40px;
  height: 40px;
  color: var(--color-white);
}

.social-links-footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer .link:hover {
  background-color: var(--color-focus);
}

.social-links-footer .link:focus {
  background-color: var(--color-focus);
}

.social-links-footer .icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-text {
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
}

.form-label {
  display: flex;
  justify-content: center;
}

.form-input {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background-color: transparent;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
  opacity: 0.6;
}

.form-input::placeholder {
  color: var(--color-cloud);
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
}

.icon-button {
  margin-left: 16px;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--color-ocean);
}
/* #endregion FOOTER */

/* #region MODALKA */

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal-background.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px;
  z-index: 1000;
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.modal-window-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-darkgrey);
  margin-bottom: 16px;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-ocean);
  border: none;
}

.modal-button:hover .modal-x,
.modal-button:focus .modal-x {
  fill: var(--color-white);
}

.modal-x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-item-first {
  margin-bottom: 8px;
}

.form-label-modal {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-asphalt);
}

.form-item-contn {
  position: relative;
}

.form-input-modal {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus {
  border-color: var(--color-blue);
}

.icon-modul {
  width: 18px;
  height: 12px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-modal:focus + .icon-modul {
  fill: var(--color-blue);
}

.form-item-comment {
  margin-bottom: 16px;
}

.text-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-comment:focus {
  border-color: var(--color-blue);
}

.check-box {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.user-check {
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-asphalt);
}

.link-privacy {
  color: var(--color-blue);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.icon-user-span {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-span {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .user-span {
  display: inline-flex; 
  justify-content: center; 
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.butt-send {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--color-blue);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.check-box input[type="checkbox"]:checked + .user-check .user-span {
  background-color: var(--color-ocean);
  border: none;
}

.check-box input[type="checkbox"]:checked + .user-check .user-span .icon-user-span {
  fill: var(--color-cloud);
}

.user-text {
  margin-left: 8px;
}
/* #endregion MODALKA */

/* #region MOBILE MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 72px 24px 40px 16px;
  z-index: 10000;
  background-color: var(--color-white);
  transform: translateX(100%);
  transition: transform 300ms ease-out;
  display: flex;
  flex-direction: column;
}

.mobile-menu.is-open {
  transform: translateX(0);
  transition-timing-function: ease-in;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-light);
  background-color: #fff;
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  background-color: var(--color-ocean);
  border: none;
}

.mobile-menu-btn:hover .mobile-menu-icon,
.mobile-menu-btn:focus .mobile-menu-icon {
  fill: var(--color-white);
}


.mobile-menu-icon {
 fill: var(--color-darkgrey);
}
.mobile-menu-list {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-link {
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-darkgrey);
}
.mobile-menu-link.current {
  color: #404bbf;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contact:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contact-link {
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;
color: var(--color-grey);
}

.mobile-menu-contact-link.accent {
  color: var(--color-blue);
}

.social-links-footer.social {
  gap: 40px;
}

/* #endregion MOBILE MENU */

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer .container {
      padding: 0 108px;
  }
}

@media only screen and (min-width: 768px) {
/* #region HEDER */

/* 
 .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

 .header .logo,
 .header .link { 
  display: block;
  padding: 16px 0;
} */ */

  .container {
    width: 768px;
  }

  .section {
      padding: 96px 0;
  }

  .page-nav {
    display: flex;
    align-items: center;
    }


  .page-nav-menu {
    display: flex;
    gap: 40px; 
  }

  
  .page-nav .link {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: var(--color-darkgrey);
    font-weight: 500;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-item .link {
    position: relative;
  }

  .page-item-menu.active .link,
  .page-item-menu:hover .link,
  .page-item-menu:focus .link {
    color: var(--color-ocean);
  }

  .page-item-menu.active .link::after,
  .page-item-menu:hover .link::after {
    content: "";
    display: block;
    border-radius: 2px;
    width: 100%;
    position: relative;
    bottom: -24px;
    height: 4px;
    background-color: var(--color-ocean);
  }

  .header-logo {
    padding-block: 0;
    margin-right: 120px;
    display: inline-block;
}
  
  .burger-btn {
    display: none;
  }

  .contacts {
    display: block;
    margin-left: auto;
  }

  .contacts .link {
    color: var(--color-grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts .link:hover,
  .link:focus {
    color: var(--color-ocean);
  } 
   
  .page-nav-menu:first-child {
      margin-bottom: 12px;
  }

/* #endregion HEDER */  

/* #region SECTION 1 */

.page-title {
  font-size: 56px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  max-width: 496px;
}
/* #endregion SECTION 1 */

/* #region SECTION 2 */

.company-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}

.company-item {
  width: calc((100% - 24px)/2);
}

.company-features .title {
  text-align: left;
}

/* #endregion SECTION 2 */

/* #region SECTION 3 */

.team-lis {
  row-gap: 64px;
}
/* #endregion SECTION 3 */

/* #region SECTION 4*/
.our-portfolio-kinds {
  row-gap: 72px;
}
/* #endregion SECTION 4*/

/* #region FOOTER */
.footer .container {
  align-items: baseline;
  flex-direction: row;
}

.footer-logo {
  align-items: baseline;
  text-align: left;
}

.form-text {
  text-align: left;
}

.form-button {
  margin-top: 0;
  margin-left: 24px;
}

/* .footer {
  display: flex;
  align-items: center;
  gap: 24px;
} */

/* #endregion FOOTER */

/* #region Modalka */
.modal-window {
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px;
}
/* #endregion Modalka */

}

@media only screen and (min-width: 1158px) {
  .container {
      width: 1158px;
  }

  .section {
      padding: 120px 0;
  }




